In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('dataset2.csv',encoding='ANSI')

df.head()

,Unnamed: 0,number,appID,name,rating,24peak,Indie,Action,Adventure,Casual,...,Outbreak Sim,Social Deduction,Skating,Skiing,Collectathon,Snowboarding,BMX,ATV,Auto Battler,Unnamed: 413
0,0,1,730,Counter-Strike: Global Offensive,87,805733,0,1,0,0,...,0,0,0,0,0,0,0,0,0,NaN
1,1,2,578080,PLAYERUNKNOWNS BATTLEGROUNDS,53,610738,0,1,0,0,...,0,0,0,0,0,0,0,0,0,NaN
2,2,3,570,Dota 2,84,597049,0,1,0,0,...,0,0,0,0,0,0,0,0,0,NaN
3,3,4,582010,MONSTER HUNTER: WORLD,78,275214,0,1,1,0,...,0,0,0,0,0,0,0,0,0,NaN
4,4,5,271590,Grand Theft Auto V,76,177789,0,1,1,0,...,0,0,0,0,0,0,0,0,0,NaN

In [2]:
game_data = df.drop(['name', 'number', 'Unnamed: 0' , 'appID', 'Unnamed: 413'], axis=1) 
game_data.head()

,rating,24peak,Indie,Action,Adventure,Casual,Simulation,Strategy,RPG,Early Access,...,Looter Shooter,Outbreak Sim,Social Deduction,Skating,Skiing,Collectathon,Snowboarding,BMX,ATV,Auto Battler
0,87,805733,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,53,610738,0,1,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,84,597049,0,1,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,78,275214,0,1,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,76,177789,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
from sklearn.model_selection import train_test_split

train_data = game_data.drop(['24peak'], axis=1)
target_data = game_data[['24peak']]

#train : test set을 8 : 2로 나눠줍니다.
x_train, x_test, y_train, y_test = train_test_split(train_data, target_data, test_size=0.2)

#다시 train set을 8:2로 나눠 validation set을 만들어줍니다.
x_train, x_valid, y_train, y_valid = train_test_split(x_train, y_train, test_size=0.2) 

print('모든 데이터', train_data.shape)
print('training set', x_train.shape, y_train.shape)
print('validation set', x_valid.shape, y_valid.shape)
print('test set', x_test.shape, y_test.shape)

모든 데이터 (1165, 409)
training set (745, 409) (745, 1)
validation set (187, 409) (187, 1)
test set (233, 409) (233, 1)

In [4]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression().fit(x_train, y_train)

print("train set score:", lr.score(x_train, y_train))
print("valid set score:", lr.score(x_valid, y_valid))

train set score: 0.42508206713298147
valid set score: -7.775836691795162e+22

In [5]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline

model = make_pipeline(PolynomialFeatures(2),
                      LinearRegression()).fit(x_train, y_train)

print("train set score:", model.score(x_train, y_train))
print("valid set score:", model.score(x_valid, y_valid))

train set score: 0.9999998736320287
valid set score: -32.41282346924918

In [6]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline

model = make_pipeline(PolynomialFeatures(2),
                      LinearRegression()).fit(x_train, y_train)

print("test set score:", model.score(x_test, y_test))

test set score: -0.39011636876583466